body {
  background-color: lightgrey;
}
.form {
	margin: 0 ;
	width: 200px;
}

.form label{
	display: inline-block;
	text-align: right;
	float: left;
}

.form input{
	display: inline-block;
	text-align: left;
	float: right;
}
